<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <div>
      <form class="mt-5 mb-3" (submit)="add()">
        <!-- Two-way binding for the symbol input box -->
        <input name="stock" [(ngModel)]="stock" class="form-control" type="text" placeholder="Add stock" />
      </form>
      <table class="table">
        <tbody>
        <!-- Loops over symbols list with Ngfor -->
        <tr *ngFor="let symbol of symbols">
          <!-- Displays the symbol -->
          <td>{{symbol}}</td>
          <td class="w-25">
            <!-- Binds the click event on the button to call the remove method -->
            <button class="btn btn-danger" (click)="remove(symbol)">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
