<div class="container-fluid">
  <header class="navbar fixed-top navbar-light bg-light">
    <h4 class="ms-lg-5">Stock Tracker</h4>
    <nav>
      <ul class="nav justify-content-end me-lg-5">
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/manage']" class="nav-link">Manage</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="mt-5 p-3">
    <router-outlet></router-outlet>
  </main>
</div>
